.settings
bin
conf
docs
eclipse
jars
lib
modsrc
logs
reobf
runtime
temp
.classpath
.project
*.bak
*.sh
*.rar
*.zip
*.bat
CHANGELOG
Thumbs.db

src/minecraft/net/minecraft/*/*
!Block.java
!EntityPlayerSP.java
!GuiIngame.java
!RenderManager.java
!TileEntityRendererDispatcher.java
!TileEntity.java
!Minecraft.java
