.settings
bin
conf
docs
eclipse
jars
lib
modsrc
logs
reobf
runtime
temp
.classpath
.project
*.bak
*.sh
*.rar
*.zip
*.bat
CHANGELOG
Thumbs.db

# Temporary fix #
*
!*/
!src/minecraft/net/minecraft/block/Block.java
!src/minecraft/net/minecraft/client/entity/EntityPlayerSP.java
!src/minecraft/net/minecraft/client/gui/GuiIngame.java
!src/minecraft/net/minecraft/client/renderer/entity/RenderManager.java
!src/minecraft/net/minecraft/client/renderer/tileentity/TileEntityRendererDispatcher.java
!src/minecraft/net/minecraft/tileentity/TileEntity.java
!src/minecraft/net/minecraft/client/Minecraft.java
